body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: auto;
    width: 100%;
}
.grid-item-1{
    width: 100%;
    height: 100vh;
    background: url('./images/pexels-rodolfo-clix-1036936.jpg');
    background-size: cover;
    position: relative;
}

.overlay{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.37);
    display: flex;
    flex-direction: column;
}
.nav h3{
  color: goldenrod;
  margin-left: 50px;
  font-style: oblique;
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.overlay .nav{
    
    display: flex;
justify-content: space-between;
    height: 50px;
        background-color: rgba(0, 0, 0, 0.678);
        padding-right: 15px;
        align-items: center;
}

.nav-bar{
    display: flex;
    
}
.nav-menu{
    display: flex;
    justify-content: flex-end;
}
 
.search-box{
    margin: 10px;
    background-color: white;
    border-radius: 15px;
}

.search-box input{
    margin-right: -5px;
    border: none;
    padding: 10px;
    padding-left: 30px;
    background: url('./images/icons8-search-24.png');
    background-repeat: no-repeat;
    background-position: 5px;
}
.search-box input:focus{
    outline: none;
    
}

.search-box button{
    padding: 5px;
    margin-right: 3px;
    border: none;
    border-radius: 15px;
    background-color: transparent;
    cursor: pointer;
    
}

.search-box button:hover{
    background-color: rgba(0, 60, 255, 0.377);
}

.nav .nav-menu a{
    margin: 10px;
    color: white;
    text-decoration: none;
    transition: all .8s;
    padding: 7px;
    border: 1px solid white ;
    border-radius: 20px;
}

.nav .nav-menu a:hover{
    background-color: rgba(250, 235, 215, 0.144);
    color:gold ;
    padding: 7px;
    border-radius: 15px;
    /* border: 1px solid rgba(0, 60, 255) ; */
}

.overlay .idea{
    width: 40%;
    margin-top: 15%;
    margin-left: 40px;
    color: white;
    font-size: 1.4rem;
    
}
.idea h1{
    color: goldenrod;
}

.idea a{
    color: white;
    padding: 10px;
    font-size: 1.1rem;
    transition: all ease .8s;
    
}

.idea a:hover{
    
    border: 2px solid goldenrod;
    color:white ;
    border-radius: 30px;
    border-radius: 20px;
    text-decoration: none;
}

.grid-item-2{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.idea-joke{
    display: flex;
    width: 80%;
    height: 80%;
    background-color: blanchedalmond;

}

.img-div{
    width:70%;
        height: 100%;
        margin: 20px;
        
    }
    .img-div img{
        width: 500px;
        height: 500px;
}

.joke-p{
    width:30% ;
    margin: 20px;
    margin-left: -15px;
    overflow-y: scroll;
}

.joke-p p{
    width: 100%;
    font-size: 1.2em;
}
.grid-item-3{
    display: flex;
    flex-direction: row;
    align-items: center;
   justify-content: space-around;
    height:100vh;
    width: 100%;
    background:url('./images/pexels-eric-anada-1495580.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

.grid-item-3 img{
    width: 100%;
    height: 100%;
}

.slide-1{
    margin-top: -40px;
    position: relative;
   display: flex;
   flex-direction: row;
   width: 300px;
   height: 70%;
   overflow: hidden;
   box-shadow: 6px 12px 4px rgba(0, 0, 0, 0.616);
}

.slide-1:hover img{
    /* transition: transform .7s; */
    animation-name: slide-1;
    animation-duration: 4s;
    animation-delay: .3s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: backwards;

    

}

@keyframes slide-1 {
    50%{
        transform: translateX(-300px);
    }
    100%{
        transform: translateX(-600px); 
    }
    }
.slide-1::after{
    content: '';
    position: absolute;
    right: 15px;
    top: 200px;
    width: 20px;
    height: 20px;
    border-right: 4px solid red ;
    border-top: 4px solid red;
    transform: rotateZ(40deg);
}
.slide-1:hover::after {
   border: none;
    transition: all .5s;
}

.slide-2{
    margin-top: -40px;
    position: relative;
   display: flex;
   flex-direction: row;
   width: 300px;
   height: 70%;
   overflow: hidden;
box-shadow: 6px 12px 4px rgba(0, 0, 0, 0.616);
}

.slide-2:hover img{
    /* transition: transform .7s; */
    animation-name: slide-2;
    animation-duration: 4s;
    animation-delay: 0.3s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: backwards;

    

}

@keyframes slide-2 {
    50%{
        transform: translateX(-300px);
    }
    /* 100%{
        transform: translateX(-600px); 
    } */
    }
.slide-2::after{
    content: '';
    position: absolute;
    right: 15px;
    top: 200px;
    width: 20px;
    height: 20px;
    border-right: 4px solid red ;
    border-top: 4px solid red;
    transform: rotateZ(40deg);
}
.slide-2:hover::after {
   border: none;
    transition: all .5s;
}

.slide-3{
    margin-top: -40px;
    position: relative;
   display: flex;
   flex-direction: row;
   width: 300px;
   height: 70%;
   overflow: hidden;
box-shadow: 6px 12px 4px rgba(0, 0, 0, 0.616);
}

.slide-3:hover img{
    /* transition: transform .7s; */
    animation-name: slide-3;
    animation-duration: 4s;
    animation-delay: .3s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: backwards;

    

}

@keyframes slide-3 {
    50%{
        transform: translateX(-300px);
    }
    /* 100%{
        transform: translateX(-600px); 
    } */
    }
.slide-3::after{
    content: '';
    position: absolute;
    right: 15px;
    top: 200px;
    width: 20px;
    height: 20px;
    border-right: 4px solid red ;
    border-top: 4px solid red;
    transform: rotateZ(40deg);
}

.slide-3:hover::after{
    border: none;
        transition: all .5s;
}

.grid-item-4{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.idea-q{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 80%;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.247);
    
    
}

.idea-q img{
    width: 30%;
    height: ;
    
    
}

.q-a{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 100%;
    background-color: lemonchiffon;
    overflow: hidden;
    font: 1.1em ;
    
}

.question{
    margin: 40px;
    display: flex;
    flex-direction: column;
    
    width:100% ;
    height: 420px;
    position: absolute;
    transition: all 1s;
    
}

.question p{
    margin-top:300px;
    margin-left:450px;
}

.answer{
    margin: 50px;
    width: 100%;
        height: 500px;
        position: absolute;
    transform: translateX(100%);
        transition: all 2s;
}

.answer h3{
width: 80%;
}

.q-a:hover .answer{
    transform: translateX(0);
}

.q-a:hover .question{
    transform: translateX(-100%);
}



.grid-item-5 {
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.grid-item-5 li {
    list-style-type: none;
    display: inline-block;
    padding-inline: 50px;
    font-size: 1.1rem;
}

.grid-item-5 a {
    color: white;
}








